<div class="conteiner">
    <div class="row">
      
  
      <div class="col-12 col-sm-6 vertical-divider">
        <div *ngIf='this.nameTodo'>
          <h3 class="m-3">{{this.nameTodo}}</h3>
    
          <div class="mx-3">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>Add new task to {{this.nameTodo}} list</mat-panel-title>
                </mat-expansion-panel-header>
                <form class="example-form" [formGroup]="myTask" >
                  <mat-form-field class="form-group example-full-width">
                    <input type="text" matInput required placeholder="name" formControlName="name">
                  </mat-form-field>
    
                  <mat-accordion>
                    <mat-expansion-panel class='mx-n4 mb-2 mt-n4 border-0 shadow-none'>
                      <mat-expansion-panel-header>
                        <mat-panel-title class='text-info'>more settings...</mat-panel-title>
                      </mat-expansion-panel-header>
                      <mat-form-field class="form-group example-full-width">
                        <input type="date" matInput placeholder="date of execution" formControlName="dateOfExecution">
                      </mat-form-field>
                      <mat-form-field class="form-group example-full-width">
                          <mat-label>priority</mat-label>
                          <select matNativeControl formControlName="priority">
                            <option value=1>High</option>
                            <option value=2>Normal</option>
                            <option value=3>Low</option>
                          </select>
                      </mat-form-field>
                      <mat-form-field class="form-group example-full-width">
                        <textarea matInput placeholder="discription" formControlName="discription"></textarea>
                      </mat-form-field>
                      <input type="hidden" formControlName="done">
                      <input type="hidden" formControlName="nowdate">
                    </mat-expansion-panel>
                  </mat-accordion>
    
                  <button mat-stroked-button class="btn-lg btn-block button-style-1" (click)="addTask()">Add task</button>
                </form>
              </mat-expansion-panel>
            </mat-accordion>
          </div>    

          

          <mat-list class="m-1" *ngFor="let x of newTaskList">
              <app-task [task]='x' [nameTodo]='this.nameTodo'></app-task>
          <!-- -------------------------------------------------------task list component START--------------------------------------------------------------------- -->
            <!-- <div class="">
                <mat-accordion class="p-0">
                  <mat-expansion-panel class='border-0 shadow-none p-0'>
                    <mat-expansion-panel-header (click)="getTask(x.name)">
                      <mat-panel-title class='text-info'>
                          <a class="nav-link" mat-button (click)="getTask(x.name)"><strong>{{x.name}}</strong></a>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="p-3 mb-2 bg-info text-white mx-3">
                      <h6 class="text-dark mt-1">date of creation:</h6>
                      <p>{{x.nowdate}}</p>
                      <mat-divider></mat-divider>
            
                      <h6 class="text-dark mt-1">date of execution:</h6>
                      <p>{{x.dateOfExecution}}</p>
                      <mat-divider></mat-divider>
            
                      <h6 class="text-dark mt-1">priority:</h6>
                      <p>{{x.priority}}</p>
                      <mat-divider></mat-divider>
            
                      <h6 class="text-dark mt-1">discription:</h6>
                      <p>{{x.discription}}</p>
                      <mat-divider></mat-divider>
            
                      <h6 class="text-dark mt-1">done:</h6>
                      <p>{{x.done}}</p>
                      <mat-divider></mat-divider>
            
                      <div class="btn-group btn-block mt-2" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary">Edit</button>
                        <button type="button" class="btn btn-secondary" (click)="delTask(x.name)">Delete</button>
                      </div>
                    </div>
    
                  </mat-expansion-panel>
                </mat-accordion>
            </div>
            <mat-divider></mat-divider> -->
            <!-- -------------------------------------------------------task list component END--------------------------------------------------------------------- -->
          </mat-list>

          <mat-divider class="border-bottom border-info mt-4 mx-1 shadow-sm"></mat-divider>
        </div>
      </div>


      <div class="d-none d-sm-block col-sm-6">
        <app-sidetask></app-sidetask>
        <!-- -------------------------------------------------------side task list component START----------------------------------------------------------------- -->
        <!-- <div *ngIf='this.nameTask'>
          <h3 class="m-3">{{this.newTask.name}}</h3>
          <div class="mx-3">
            <h6 class="text-primary mt-1">date of creation:</h6>
            <p>{{this.newTask.nowdate}}</p>
            <mat-divider></mat-divider>
  
            <h6 class="text-primary mt-1">date of execution:</h6>
            <p>{{this.newTask.dateOfExecution}}</p>
            <mat-divider></mat-divider>
  
            <h6 class="text-primary mt-1">priority:</h6>
            <p>{{this.newTask.priority}}</p>
            <mat-divider></mat-divider>
  
            <h6 class="text-primary mt-1">discription:</h6>
            <p>{{this.newTask.discription}}</p>
            <mat-divider></mat-divider>
  
            <h6 class="text-primary mt-1">done:</h6>
            <p>{{this.newTask.done}}</p>
            <mat-divider></mat-divider>
  
            <div class="btn-group btn-block mt-2" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-secondary">Edit</button>
              <button type="button" class="btn btn-secondary" (click)="delTask(this.newTask.name)">Delete</button>
            </div>
          </div>
        </div> -->
        <!-- -------------------------------------------------------side task list component END----------------------------------------------------------------- -->
      </div>
  
    </div>
  </div>