<div class="conteiner">
    <div class="row">
      
  
      <div class="col-12 col-sm-8 vertical-divider">

        <div *ngIf='!this.nameTodo'>
          <div class="jumbotron">
            <h1 class="display-4">Start now!</h1>
            <p class="lead">Create your task lists and add new tasks.</p>
            <hr class="my-4">
            <p>Go to the menu and create your first To-Do.</p>
            <p class="lead">
              <a mat-stroked-button class="nav-link btn btn-outline-info button-style-1 border-info text-info" (click)="this.changeDone.emit()">Get start</a>
            </p>
          </div>
        </div>

        <div *ngIf='this.nameTodo'>
          <h3 class="m-3">{{this.nameTodo}}</h3>
    
          <div class="mx-3">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>Add new task to {{this.nameTodo}} list</mat-panel-title>
                </mat-expansion-panel-header>
                <form class="example-form" [formGroup]="myTask" >
                  <mat-form-field class="form-group example-full-width">
                    <input type="text" matInput required placeholder="name" formControlName="name">
                  </mat-form-field>
    
                  <mat-accordion>
                    <mat-expansion-panel class='mx-n4 mb-2 mt-n4 border-0 shadow-none'>
                      <mat-expansion-panel-header>
                        <mat-panel-title class='text-info'>more settings...</mat-panel-title>
                      </mat-expansion-panel-header>
                      <mat-form-field class="form-group example-full-width">
                        <input type="date" matInput placeholder="date of execution" formControlName="dateOfExecution">
                      </mat-form-field>
                      <mat-form-field class="form-group example-full-width">
                          <mat-label>priority</mat-label>
                          <select matNativeControl formControlName="priority">
                            <option value=1>High</option>
                            <option value=2>Normal</option>
                            <option value=3>Low</option>
                          </select>
                      </mat-form-field>
                      <mat-form-field class="form-group example-full-width">
                        <textarea matInput placeholder="discription" formControlName="discription"></textarea>
                      </mat-form-field>
                      <input type="hidden" formControlName="done">
                      <input type="hidden" formControlName="nowdate">
                      <input type="hidden" formControlName="nameTodo">
                    </mat-expansion-panel>
                  </mat-accordion>
    
                  <button mat-stroked-button class="btn-lg btn-block button-style-1" (click)="addTask()">Add task</button>
                </form>
              </mat-expansion-panel>
            </mat-accordion>
          </div>    

          <mat-list class="m-1" *ngFor="let x of newTaskList">
              <app-task [task]='x' [nameTodo]='this.nameTodo'></app-task>
          </mat-list>

          <mat-divider class="border-bottom border-info mt-4 mx-1 shadow-sm"></mat-divider>
        </div>
      </div>


      <div class="d-none d-sm-block col-sm-4">
        <app-sidetask></app-sidetask>
        <!-- -------------------------------------------------------side task list component START----------------------------------------------------------------- -->
        <!-- <div *ngIf='this.nameTask'>
          <h3 class="m-3">{{this.newTask.name}}</h3>
          <div class="mx-3">
            <h6 class="text-primary mt-1">date of creation:</h6>
            <p>{{this.newTask.nowdate}}</p>
            <mat-divider></mat-divider>
  
            <h6 class="text-primary mt-1">date of execution:</h6>
            <p>{{this.newTask.dateOfExecution}}</p>
            <mat-divider></mat-divider>
  
            <h6 class="text-primary mt-1">priority:</h6>
            <p>{{this.newTask.priority}}</p>
            <mat-divider></mat-divider>
  
            <h6 class="text-primary mt-1">discription:</h6>
            <p>{{this.newTask.discription}}</p>
            <mat-divider></mat-divider>
  
            <h6 class="text-primary mt-1">done:</h6>
            <p>{{this.newTask.done}}</p>
            <mat-divider></mat-divider>
  
            <div class="btn-group btn-block mt-2" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-secondary">Edit</button>
              <button type="button" class="btn btn-secondary" (click)="delTask(this.newTask.name)">Delete</button>
            </div>
          </div>
        </div> -->
        <!-- -------------------------------------------------------side task list component END----------------------------------------------------------------- -->
      </div>
  
    </div>
  </div>