.example-full-width {
    width: 100%;
  }
.vertical-divider{
    // border-top-width: 0;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(173, 173, 173);
    height: 100%;
}
.border{
    padding: 10px;
    border: 1, solid, rgb(173, 173, 173);
    border-radius: 5px;
}
.flex-space-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.button-style-1{
    font-weight: bold;
    color: rgb(135, 177, 255);
    border-width: 2px;
    border-radius: 10px;
    border-color: rgb(135, 177, 255);
}



.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1.example-app-name {
    margin-left: 8px;
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
  .fixed{
    position: fixed;
    z-index: 100;
  }
  .myIco1{
      color: aqua;
  }
  .priority{
    position: absolute;
    top: 13px;
    left: 10px;
    z-index: 100;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    // margin-right: 5px;
    //background: red;
}

.itemTask{
  position: relative;
  border: solid rgb(107, 101, 101) 3px;
  border-radius: 20px;
}
.red{
  background: red;
}
.blue{
  background: blue;
}
.green{
  background: green;
}
.grey{
  background: rgb(80, 80, 80);
}
.true{
  text-decoration: line-through;
  color: rgb(146, 146, 146)
}

.boarder{
  border-left: solid rgb(107, 101, 101) 1px;
}
