
<div class="itemTask">
  <div [ngClass]="myclass" class="priority align-baseline" (click)="editDone()"></div>
  <mat-expansion-panel class='border-0 shadow-none p-0 itemTask'>

    <mat-expansion-panel-header (click)="getTask(this.task.name)" class="p-2 m-0 pl-3">
      <div class='text-info d-flex align-items-center'>
        <div class="nav-link ml-2"><strong [ngClass]="taskDone">{{this.task.name}}</strong></div>
      </div> 
    </mat-expansion-panel-header>

    <div class="p-3 mb-2 bg-info text-white">
      <form class="example-form" [formGroup]="myTask" >
        <mat-form-field class="form-group example-full-width">
          <input type="text" matInput placeholder="date of creation" formControlName="nowdate">
        </mat-form-field>
        <mat-form-field class="form-group example-full-width">
          <input type="text" matInput placeholder="date of execution" formControlName="dateOfExecution">
        </mat-form-field>
        <mat-form-field class="form-group example-full-width">
          <mat-label>priority</mat-label>
          <select matNativeControl formControlName="priority">
            <option value=1>High</option>
            <option value=2>Normal</option>
            <option value=3>Low</option>
          </select>
        </mat-form-field>
        <mat-form-field class="form-group example-full-width">
          <textarea matInput placeholder="discription" formControlName="discription"></textarea>
        </mat-form-field>
        <mat-form-field class="form-group example-full-width">
          <mat-label>done</mat-label>
          <select matNativeControl formControlName="done">
            <option value=true>true</option>
            <option value=false>false</option>
          </select>
        </mat-form-field> 
      </form>
      <div *ngIf="this.nameTodo != 'All tasks'" class="btn-group btn-block mt-2" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary" (click)="addTask()">Edit</button>
        <button type="button" class="btn btn-secondary" (click)="delTask(this.task.name)">Delete</button>
      </div> 
    </div>

  </mat-expansion-panel>
</div>

