.back{
    background-image: url(./img/everest.jpg);
    background-size: cover;
    background-position: top center;
    padding-top: 80px;
    min-height: 250px;
    //text-align: center;
    color: rgb(43, 45, 54);
    height: 1000px;
}