<header class="navbar navbar-expand-sm justify-content-start navbar-dark bg-dark shadow-sm fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" mat-button [matMenuTriggerFor]="menu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-brand my-0 py-0">TO DO IT</div>
    
    <mat-menu #menu="matMenu" class="navbar justify-content-start navbar-dark bg-dark shadow-sm">
        <a class="nav-link active" routerLink="dashboard">Dashboard</a>
        <a class="nav-link" routerLink="user/login">Login</a>
        <a class="nav-link" routerLink="user/registration">Registration</a>
        <a class="nav-link" mat-button color="warn" (click)="logout()">Logout ({{myUser()}})</a>
        <!-- <span class="text-muted" >{{auth.user}}</span> -->
    </mat-menu>

    <div class="collapse navbar-collapse justify-content-end">
      <a class="nav-link active" routerLink="dashboard">Dashboard</a>
      <a class="nav-link" routerLink="user/login">Login</a>
      <a class="nav-link" routerLink="user/registration">Registration</a>
      <a class="nav-link" mat-button color="warn" (click)="logout()">Logout ({{myUser()}})</a>
      <!-- <span class="text-muted" >{{auth.user}}</span> -->
    </div>
</header>


<router-outlet></router-outlet>
