<header class="navbar justify-content-start mt-5">
  <!-- <button mat-raised-button class="mx-2"  (click)="auth.logout()">Logout</button> -->

  <!-- <button mat-raised-button class="mx-2" (click)="addList()">Add list</button> -->
</header>
<div class="conteiner">
  <div class="row">
      <div class="col-12 col-sm-4 vertical-divider">
        <h3 class="m-3">Add new ToDo</h3>
        <div class="align-items-center justify-content-center m-3 border">
          <form class="example-form" [formGroup]="myForm" >

            <!-- <mat-form-field class="form-group example-full-width">
              <input type="text" matInput placeholder="Id" formControlName="id">
            </mat-form-field> -->

            <mat-form-field class="form-group example-full-width">
              <input type="text" matInput placeholder="name" formControlName="name">
            </mat-form-field>
            
            <button mat-stroked-button color="primary" class="btn-lg btn-block button-style-1" (click)="addList()">Add todo</button>

          </form>
        </div>
        <h3 class="m-3">List of ToDo</h3>

      <!-- <button mat-raised-button class="mx-2" (click)="getList()">Get list todo</button> -->


        <mat-list class="m-3" *ngFor="let x of newTodoList">          
          <div class="flex-space-between mb-1">
            <a class="nav-link" mat-button (click)="getList(x.name)"><strong>{{x.name}}</strong></a>
            <button mat-stroked-button class="btn-lg button-style-1" (click)="delList(x.name)">Delete</button>
          </div>          
          <mat-divider></mat-divider>
        </mat-list>

    </div>

    <div class="col-12 col-sm-4 vertical-divider">
      <h3 class="m-3">Add {{this.nameTodo}}</h3>
      <div class="align-items-center justify-content-center m-3 border">
        <form class="example-form" [formGroup]="myTask" >
          <mat-form-field class="form-group example-full-width">
            <input type="text" matInput placeholder="name" formControlName="name">
          </mat-form-field>
          <button mat-stroked-button class="btn-lg btn-block button-style-1" (click)="addTask()">Add task</button>
        </form>
      </div>

      <h3 class="m-3">ToDo name: {{this.nameTodo}}</h3>
      <mat-list class="m-3" *ngFor="let x of newTaskList">
        <div class="flex-space-between mb-1">
          {{x.name}}
          <!-- <button mat-stroked-button class="btn-lg" (click)="delList(x.name)">Delete</button> -->
          <button mat-stroked-button class="btn-lg" (click)="delTask(x.name)">Delete</button>
        </div>
        <mat-divider></mat-divider>
      </mat-list>
    </div>

    <div class="col-12 col-sm-4">
      test
    </div>

  </div>
</div>