

<div class="example-container mt-5" [class.example-is-mobile]="mobileQuery.matches" >
  <a class="fixed" mat-icon-button (click)="snav.toggle()"><mat-icon class="text-info font-weight-bold mt-3">menu</mat-icon></a>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
    
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" class="maxwidth">

      <h4 class="m-3 ml-5">{{'List of ToDo' | translate: lang}}</h4>

      <div class="mx-3">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>{{'Add new ToDo' | translate: lang}}</mat-panel-title>
            </mat-expansion-panel-header>
            <form class="example-form" [formGroup]="myForm" >
              <mat-form-field class="form-group example-full-width">
                <input type="text" matInput placeholder="{{'name' | translate: lang}}" formControlName="name">
              </mat-form-field>
              <mat-form-field class="form-group example-full-width">
                <!-- <input type="color" matInput placeholder="color" formControlName="color"> -->
                <input type="color" (list)="colorList" matInput placeholder="{{'color' | translate: lang}}" formControlName="color">
                <datalist #colorList>
                  <option value="#ff0000" label="Red">
                  <option value="#008000" label="Green">
                  <option value="#0000ff" label="Blue">
                </datalist>
              </mat-form-field>
              <button mat-stroked-button color="primary" class="btn-lg btn-block button-style-1" (click)="addList()">{{'Add todo' | translate: lang}}</button>
            </form>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <div class="m-3">
        <button class="btn btn-info btn-block" (click)="getAllTodoList(); snav.toggle()"><strong>{{'Get all To-Do' | translate: lang}}</strong></button>
      </div>

      <mat-list class="m-3" *ngFor="let x of newTodoList; let i = index">          
        <div class="flex-space-between mb-1" >
          <a class="nav-link" [ngStyle]='{"background-color": x.color}' mat-button (click)="getList(x.name); snav.toggle()"><strong>{{x.name | translate: lang}}</strong></a>
          <div class="position">
            <button mat-stroked-button class="btn-lg button-style-1 mr-1" mat-button (click)="i = (i+1)*-1; getCurrentColor(x.name)">{{'color' | translate: lang}}</button>      
              <div *ngIf="!(i >= 0)" class="color-menu">
                <input type="color" class="btn-lg button-style-1 p-0" [(ngModel)]="newColor"><br>
                <button mat-stroked-button class="btn-lg button-style-1" (click)="editList(x.name); i = (i+1)*-1">{{'Edit' | translate: lang}}</button>
              </div>
            <button mat-stroked-button class="btn-lg button-style-1" (click)="delList(x.name)">{{'Delete' | translate: lang}}</button>
          </div>
        </div>          
        <mat-divider></mat-divider>
      </mat-list>
      <mat-divider class="border-bottom border-info mt-4 mx-1 shadow-sm"></mat-divider>
      
    </mat-sidenav>

    <mat-sidenav-content>
      <app-todo 
        [nameTodo]='this.nameTodo' 
        [newTaskList]='this.newTaskList'
        [newTaskList2]='this.newTaskList2'
        [color]='this.color' 
        (changeDone)="snav.toggle()" 
        (changeAll)="getAllTodoList()" 
        (getCurrentList)="getList($event)">
      </app-todo>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>


