.example-full-width {
    width: 100%;
  }
.vertical-divider{
    // border-top-width: 0;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(173, 173, 173);
    height: 100%;
}
.border{
    padding: 10px;
    border: 1, solid, rgb(173, 173, 173);
    border-radius: 5px;
}
.flex-space-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.button-style-1{
    //font-weight: bold;
    color: rgb(135, 177, 255);
    border-width: 2px;
    border-radius: 10px;
    border-color: rgb(135, 177, 255);
}
.button-style-2{
  //font-weight: bold;
  text-align: left;
  color: rgb(46, 64, 97);
  border-width: 2px;
  border-radius: 10px;
  border-color: rgb(135, 177, 255);
}


.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1.example-app-name {
    margin-left: 8px;
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
  .fixed{
    position: fixed;
    z-index: 100;
  }
  .myIco1{
      color: aqua;
  }

  .new{
    background-color: aqua;
  }
  input[type="color"] {
    padding: 0px;
    margin: 0px;
    -webkit-appearance: none;
    border: none;
    //background: #fff;
    //width: 100%;
    //height: 50px;
    //border-radius: 50%;
    overflow: hidden;
    outline: none;
    cursor: inherit;
  }
  .position{
    position: relative;
  }
  .color-menu{
    position: absolute;
    top: 41px;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 5px;
    padding: 10px;
    z-index: 100;
  }
  .maxwidth{
    max-width: 450px;
  }
  .dash-btn{
    width: 60%;
  }