<div class="d-flex align-items-center justify-content-center vh-100 m-3">
  
  <form class="example-form" [formGroup]="loginForm" (ngSubmit)="login()">

    <mat-form-field class="form-group example-full-width">
      <input type="email" matInput placeholder="{{'Email' | translate: lang}}" formControlName="email">
    </mat-form-field>

    <mat-form-field class="form-group example-full-width">
      <input type="password" matInput placeholder="{{'Password' | translate: lang}}" formControlName="password">
    </mat-form-field>
    
    <button mat-stroked-button class="btn-lg btn-block py-2">{{'Login' | translate: lang}}</button>
  </form>

</div>

