.back{
    background-image: url(../img/everest.jpg);
    background-size: cover;
    background-position: top center;
    padding-top: 80px;
    min-height: 250px;
    //text-align: center;
    color: rgb(43, 45, 54);
    height: 1000px;
}
.main{
    margin-top: 50px;
    max-width: 300px;
}
.divider{
    border: 1px solid rgb(43, 45, 54);
}
.main2{
    margin-top: 150px;
    color: white;
}
.but-m{
    width: 80%;
    margin-top: 150px; 
}
.mybtn{
    border: 2px solid rgb(43, 45, 54);
}
